#!/bin/bash
#
# Define misc variables for misc migration scripts to pull in.
#
# Values provided here are defaults: No need to uncomment unless putting in a
# _different_ value.
#
# There's two values here that do not have default but require values; see:
# - MIGRATION_GROUP; and
# - URI

# ===
# DRUPAL_ROOT: The path to the target Drupal installation.
# ---
#DRUPAL_ROOT=/opt/www/drupal

# ===
# DRUPAL_USER: The Drupal user as whom to act.
# ---
#DRUPAL_USER=1

# ===
# DRUSH: Path of the "drush" executable.
# ---
#DRUSH="${DRUPAL_ROOT:-/opt/www/drupal}/vendor/bin/drush"

# ===
# MIGRATION_GROUP: The migration group on which to operate.
#
# No default, as there is nothing sane to provide as a default.
# ---
#MIGRATION_GROUP=

# ===
# WEB_USER: The user as whom to invoke drush; must have access to JWT keys and
# the like.
# ---
#WEB_USER=www-data

# ===
# URI: The URI of the target site. Must be externally dereferenceable, as this
# is likely used to generate externally links, and derivatives and the like.
# ---
# NOTE: URI has no default, and _must_ be provided by all sites.
#URI=

# ===
# TIME: Path of the "time" executable, to help report some details of the run.
# ---
#TIME=/usr/bin/time

# ===
# LOG_DIR: The path under which to create log files for migration operations.
# ---
# NOTE: Defaults to the directory containing the ".env" file.

# ===
# PROCESSES: The number of processes to use to run the migration import.
# ---
#PROCESSES=1

# ===
# SKIP_STATUS: Suppress dumping of migration status before/after operations.
# ---
# Default:
#SKIP_STATUS=false
# To skip, uncomment (or equivalently set):
#SKIP_STATUS=true

# ===
# MULTIPROCESS_SKIP_MIGRATIONS: Skip processing the specified migrations.
#
# May be of some use in resuming larger migrations, when we do not wish to
# undertake no-op cycling through other migrations.
# ---
#MULTIPROCESS_SKIP_MIGRATIONS=()

# ===
# MULTIPROCESS_PRE_ENQUEUE_PAUSE: Pause execution before enqueuing these.
#
# Expected to be a Bash array; in this instance, just a set of strings
# (representing migration IDs) between parentheses.
# ---
#MULTIPROCESS_PRE_ENQUEUE_PAUSE=()

# ===
# MULTIPROCESS_POST_PROCESS_PAUSE: Pause execution after finishing these.
#
# Expected to be a Bash array; in this instance, just a set of strings
# (representing migration IDs) between parentheses.
# ---
#MULTIPROCESS_POST_PROCESS_PAUSE=()
